

body {
    background-image: url(../img/background.png);
    background-size: cover;
    
}

select.form-select,
#hora_entrada,
#hora_salida {
    background-color: rgb(73, 73, 73);
    color: #ffcb1a;
    font-weight: bold;
    text-align: center;
    border-color: #ffcb1a;
}

select.form-select:focus,
#hora_entrada:focus,
#hora_salida:focus{
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgb(255, 255, 255);
    border-color: #ffcb1a;
}

select option:hover{
    background-color: rgb(73, 73, 73);
    color: #ffcb1a;
    font-weight: bold;
}


.navbar{
    background-color: rgba(39, 39, 39, 0.5);
    font-weight: bold;
    padding-top: 50px;
}

a.nav-link{
    color: #ffffff;
}

